body{
    margin:0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    }
    *{
      font-family: sans-serif;
      box-sizing: border-box;
      
    }
    p{
      line-height: 22px;
    }
    .flex-container  {
     display: flex;
     flex: 1;
     width: 100vwd;
     height: 100vh;
     box-sizing: border-box;
    }
    
    .flex-container-left  {
      text-align:justify;
      font-family: "Times New Roman", Times, serif;
      width: 50%; 
      box-sizing: border-box;
      justify-content: center;
      text-align: center;
      padding: 20% 0;
    }
    .flex-container-right  {
      background-color: black;
      text-align: left;
      width: 50%; 
      box-sizing: border-box;
      justify-content: center;
      text-align: center;
      padding: 20% 10px;
    }
    .flex-container-right h1{
      color: white;
      font-family: "Times New Roman", Times, serif;
      margin-bottom: 30px;
    }
    .flex-container-right p{
      
      color: aliceblue;
      font-family: "Times New Roman", Times, serif;
      animation: fadeIn 7s; 
      -webkit-animation: fadeIn 5s;
      -moz-animation: fadeIn 5s;
      -o-animation: fadeIn 5s;
      -ms-animation: fadeIn 5s;
    
    }
    
    @keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-moz-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-webkit-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-o-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    @-ms-keyframes fadeIn {
      0% { opacity: 0; }
      100% { opacity: 1; }
    }
    
    
    .scroll {
      padding-top: 450px;
        width: 50px;
        height: auto;
      border-radius: 50%;
        
    
      position: relative;
        
        animation: down 3s infinite;
        -webkit-animation: down 3s infinite;}
        
    
    
    @keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(180px);
        }
        40% {
            transform: translate(0);
        }
    }
    
    @-webkit-keyframes down {
        0% {
            transform: translate(0);
        }
        20% {
            transform: translateY(15px);
        }
        40% {
            transform: translate(0);
        }
    }
    